.primary-color {
  color: #7952b3;
}
.bg-primary-color {
  background-color: #7952b3;
}
.color-white {
  color: #fff;
}

.spacer {
  flex: 1;
}
.link:hover {
  color: #fff;
}

nav .nav-link:hover {
  font-weight: 600;
}

.login-row {
  height: 82vh;
}

.register-row {
  height: 100vh;
}

button.btn-style {
  color: #fff;
  background-color: #7952b3;
}

button.btn-style:hover {
  background-color: #492783;
  color: #fff;
}
